/* text */

.txt-small {
  font-size: 1.2rem;
}

body {
  font-family: inherit;
  line-height: 1em;
  font-size: 1.4rem;
  height: 400vh;
}

/* ************* */

.nav-belt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-flow: row; */
  flex-direction: row;
  color: #0f1111;
  width: 100%;
  position: static;
  flex-flow: row nowrap;
  background-color: #131921;
  height: 6rem;
}
.nav-left {
  color: #0f1111;
  width: auto;
  display: flex;
  position: static;
}
.nav-fill {
  flex-grow: 1;
}
.nav-logo-box {
  color: #0f1111;
  line-height: 0;
  height: 100%;
  width: auto;
  padding: 0.4rem 0 0 0;
  display: flex;
  position: relative;
  margin-left: 1.5rem;
}

.nav-link-box {
  line-height: 0;
  color: #007185;
  clear: both;
  cursor: pointer;
  height: 5rem;
  width: 100%;
  display: flex;
  position: static;
  text-decoration: none;
  padding: 0.1rem 0.8rem 0 0.6rem;
  margin: 0.1rem;
}

.nav-logo {
  line-height: 0;
  color: #007185;
  cursor: pointer;
  background-image: url("/assets/images/icons/iconsprite.png");
  background-repeat: repeat-x;
  background-position: -10px -51px;
  width: 9.7rem;
  height: 3rem;
  margin-top: 1.2rem;
  pointer-events: none;
}

.nav-location-box {
  color: #0f1111;
  text-decoration: none;
  overflow: hidden;
  display: flex;
  position: static;
  width: auto;
  height: 6rem;
  margin-left: 0.6rem;
}

.nav-location-box a {
  text-decoration: none;
  cursor: pointer;
  color: #d6d6d6;
  line-height: 39px;
  overflow: hidden;
  display: flex;
  position: static;
  flex-flow: row nowrap;
  align-items: center;
  width: fit-content;
  height: auto;
  box-shadow: none;
  scroll-margin: 0;
  padding: 0 9px 0 9px;
  margin: 5px 2px 5px 0;
}

.location-image {
  cursor: pointer;
  color: #fff;
  line-height: 3.9rem;
  background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-repeat: repeat-x;
  left: 0.2rem;
  top: 0.8rem;
  display: flex;
  position: static;
  background-position: -71px -378px;
  width: 1.5rem;
  height: 1.8rem;
  margin-top: 0.8rem;
}

.location-text {
  cursor: pointer;
  color: #d6d6d6;
  line-height: 3.9rem;
  margin-left: 0.3rem;
  display: flex;
  position: static;
  flex-flow: column nowrap;
}

.nav-line-1 {
  cursor: pointer;
  float: left;
  clear: both;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.4rem;
  height: 1.4rem;
  font-weight: 400;
  color: #ccc;
}

.nav-line-2 {
  cursor: pointer;
  float: left;
  clear: both;
  font-size: 1.4rem;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  line-height: 1.5rem;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0.1rem;
}

.nav-search {
  color: #0f1111;
  overflow: hidden;
  border-radius: 0.4rem;
  width: auto;
  display: flex;
  position: static;
  flex: 1 1 auto;
  padding: 1rem 0.4rem 1rem 0.3rem;
  height: 6rem;
  margin: 0 1.8rem;
}

.nav-search-bar {
  color: #0f1111;
  height: 4rem;
  border-radius: 0.4rem;
  display: flex;
  position: static;
  flex: 1 1 0px;
}

.nav-dropdown {
  color: #0f1111;
  background-repeat: repeat-x;
  height: 4rem;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  border-radius: 0.4rem 0 0 0.4rem;
  background-position: 0 -532px;
  background-color: #f3f3f3;
  background-image: none;
  border-left: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  display: flex;
  position: relative;
}

.search-lbl {
  cursor: default;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
  line-height: 3.3rem;
  margin-right: 2.1rem;
  margin-left: 0.5rem;
  min-width: 1.9rem;
}

.search-arrow {
  color: #0f1111;
  cursor: default;
  font-style: italic;
  background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-repeat: repeat-x;
  position: absolute;
  top: 1.7rem;
  right: 0.8rem;
  border-style: solid;
  border-width: 0.4rem;
  border-color: transparent;
  border-top: 0.4rem solid #666;
}

.search-field {
  color: #0f1111;
  font-family: inherit;
  line-height: 1em;
  top: 0.5rem;
  height: 4rem;
  background: #fff;
  border: none;
  border-top: 1px solid transparent;
  display: flex;
  position: static;
  float: none;
  flex: 1 1 0px;
}

.nav-search-input {
  border-radius: 3px;
  width: 100%;
  line-height: 1.5rem;
  padding: 0.7rem 1rem 1rem 0;
  border: 0;
  height: 3.8rem;
  font-family: inherit;
  font-size: 1.5rem;
  color: #111;
  outline: 0;
  text-indent: 0.8rem;
  display: flex;
  position: static;
}

.nav-magnify {
  font-family: inherit;
  line-height: 1em;
  cursor: pointer;
  background-image: url("/assets/images/icons/iconsprite.png");
  background-repeat: repeat-x;
  background-color: #febd69;
  color: #111;
  text-indent: -500px;
  position: relative;
  float: none;
  flex: 1 1 auto;
  width: 4.5rem;
  height: 4rem;
  background-position: 2px -280px;
  z-index: 5;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.nav-right-container {
  color: #0f1111;
  font-family: inherit;
  text-decoration: none;
  margin-top: 0.2rem;
  padding: 0.8rem 0 0 0;
  display: flex;
  position: static;
}

.nav-right-obj {
  cursor: pointer;
  color: #fff !important;
  line-height: 4.4rem;
  overflow: hidden;
  margin: 0 0.1rem;
  height: 5rem;
  padding: 0 0.9rem 1rem;
  flex-flow: column nowrap;
  justify-content: center;
  display: flex;
  position: relative;
  align-items: flex-start;
  text-decoration: none;
  margin-right: 0;
  padding-right: 9px;
  padding-left: 9px;
  margin-left: 6px;
}

.flag {
  cursor: pointer;
  line-height: 1.5rem;
  font-weight: 700;
  color: #fff;
  width: 2.4rem;
  height: 1.8rem;
  background-image: url("/assets/images/icons/flags.png");
  background-position: 0 -130px;
  display: flex;
  position: static;
  align-items: center;
  margin: 0 0.2rem 0.1rem 0;
  transform: scale(0.9);
}

.nav-arrow {
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-image: url("/assets/images/icons/iconsprite.png");
  background-position: 0 1000px;
  background-repeat: repeat-x;
  left: 3.8rem;
  border-style: solid;
  border-width: 0.4rem;
  border-color: transparent;
  border-top: 0.4rem solid #606060;
  width: 0;
  border-top-color: #a7acb2;
  display: flex;
  position: static;
  align-items: center;
  margin: 0.6rem 0 0 0.5rem;
}

#nav-cart {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: row;
}
#nav-cart-count {
  justify-self: start;
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
  /* flex-flow: column; */
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#nav-cart-text {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#nav-cart-text .nav-line-2 {
  margin-top: 0.5rem;
}

#nav-cart-img {
  cursor: pointer;
  color: #fff;
  line-height: 4.4rem;
  background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-repeat: repeat-x;
  overflow: hidden;
  top: 0.7rem;
  background-position: -10px -340px;
  width: 3.8rem;
  height: 2.6rem;
  display: flex;
  position: relative;
  align-self: flex-end;
  justify-self: end;
  z-index: 4;
}
#nav-cart-img::after {
  content: "0";
  top: -0.3rem;
  left: 1.3rem;
  position: absolute;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  line-height: 16px;
  text-align: center;
  font-size: 16px;
  width: 19px;
  color: #f08804;
  z-index: 5;
}

/* second nav */

.nav-second {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-flow: row; */
  flex-direction: row;
  width: 100%;
  position: static;
  flex-flow: row nowrap;
  background-color: #232f3e;
  height: 4rem;
  padding-left: 1.5rem;
}

.hamburger {
  display: flex;
  line-height: 1em;
  font-size: 2.5rem;
  border-radius: 3px;
  align-items: center;
  width: auto;
  height: auto;
  border: none;
  text-decoration: none;
  padding: 0.8rem 0.9rem 0.8rem 0.9rem;
  margin: 0.5rem 0 0.6rem 0;
  display: flex;
  position: static;
  float: none;
  margin-right: 0.3rem;
}

.hamburgertext:hover {
  color: white !important;
}
.hamburgericon {
  font-size: 2rem;
  line-height: 1em;
  font-style: italic;
  background-image: url("/assets/images/icons/iconsprite.png");
  background-repeat: repeat-x;
  display: flex;
  position: static;
  width: 1.7rem;
  height: 1.4rem;
  background-position: -172px -255px;
}
.hamburgertext {
  line-height: 1em;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  padding-left: 5px;
}
.link-container {
  line-height: 1em;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: static;
  float: none;
  flex: 1 1 100%;
  min-width: 0;
  align-content: center;
  padding-left: 1.2rem;
  padding-top: 1.2rem;
}

.link-container a {
  margin-left: 2.4rem;
  text-decoration: none;
  color: white;
}
.link-container :nth-child(1) {
  margin-left: 0;
}

.nav-right .link-container a {
  margin-right: 2.4rem;
  font-weight: 700;
  position: relative;
}
.white-hoverbox-hamburger {
  position: relative;
  overflow: visible;
}
.white-hoverbox-hamburger::after {
  content: "";
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  position: absolute;
  border: 1px solid white;
  border-radius: 0.3rem;
  z-index: 55;
  opacity: 0;
}

.white-hoverbox-bottom {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-hoverbox-bottom::after {
  content: "";
  text-align: center;
  height: 2.8rem;
  width: 120%;

  position: absolute;
  border: 1px solid white;
  border-radius: 0.3rem;
  z-index: 55;
  opacity: 0;
}
.white-hoverbox-top {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-hoverbox-top::after {
  content: "";
  text-align: center;
  height: 5rem;
  width: 100%;

  position: absolute;
  border: 1px solid white;
  border-radius: 0.3rem;
  z-index: 55;
  opacity: 0;
}

.white-hoverbox-top:hover:after,
.white-hoverbox-hamburger:hover:after,
.white-hoverbox-bottom:hover:after {
  opacity: 1;
  text-decoration: none !important;
}
