@import url("/style/style.css");

.carousel {
  grid-template-columns: 1fr;
}
header {
  width: 100vw;
}
body {
  min-width: 0;
}

.carouselcard {
  width: 10rem;
}
.carouselcard img {
  width: 10rem;
  height: 10rem;
}
