@import url("/style/style.css");
.carousel {
  grid-template-columns: 1fr;
}
nav {
  width: 100%;
}
body {
  min-width: 0;
}

.carouselcard {
  width: 10rem;
}
.carouselcard img {
  width: 10rem;
  height: 10rem;
}
